/* CSS Document */

a:hover{
	text-decoration:none !important;
}

.slideshow-slide{
	
/* height: 500px;
 overflow: hidden;*/
}
.slideshow-slide .action.offset{
	bottom:none;
	top: 30%;
}

.action offset{
	background-color:transparent;
}

.action offset a h1{ color:#FFF !important;}
.action-links {
	top: 8.5px !important;
}

.welcome-message {padding: 30px 0 25px !important;}
.yellow-brand{background: #fce359 !important;}
.action-links span:first-child{border-radius: 6px 0px 0px 6px;}


