/* CSS Document */

body{
	font-size:14px;
}

a:hover{
	text-decoration:none !important;
}
 
.slideshow-slide .action.offset{
	bottom:none;
	top: 21%;
	left: 32%;
/*	width: 80%;*/
}

form { margin:0px !important};
 

.action offset a h1{ color:#FFF !important;}
.action-links {
	top: 8.5px !important;
}

.welcome-message {padding: 30px 0 25px !important;}
.list-space{background: #FC6962 !important;color:#FFF !important;}
.list-space:hover{ text-decoration:underline !important;}
.action-links a{ color:#000;}
.navigation ul a:hover,.action-links a:hover{color: #0077dd;}
.login-box a:hover{ text-decoration:underline !important;}
.action-links a:first-child{border-radius: 6px 0px 0px 6px;}
.seperator{margin-bottom: 31px;}
.white_bg{ background:#FFF;}
.font_12{font-size: 12px;}
.font_14{font-size: 14px;}
.login-box .uk-form-icon{
	display: block !important;
}
.submit-ht{ margin-top:2px !important; }
#where-you-going{ margin:0px !important;}
 
.text-special{ 
	color:#FFF !important;
	text-shadow: 3px -1px 7px rgba(0,0,0,0.6);
	font-size: 50px;
	font-weight: bold;
	text-align: left;
 }
 
 .text-sub{
	font-size: 23px !important;
	font-weight: bold;
	color:#FFF !important;
	text-shadow: 3px -1px 7px rgba(0,0,0,0.6);	 
 }
 
 .searchbox{
	float: left;
	height: 52px;
	width: 77%;
	border-radius: 7px;
	background: #fff !important;
	font-size: 15px;
	border: 3px solid;
 }

 .searchbutton{
	width: 20% !important;
	font-size: 18px;
	position: relative;
	left: 9px;
	height: 45px;
	top: 4px;
	
 }
 
#registerfrm .uk-form-icon{
	line-height:50px !important;
}
.welcome-message div { line-height:33px;}
 
